################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Release/net6.0-windows/win-x64
/obj
/CppProperties.json
/FodyWeavers.xml
/FodyWeavers.xsd
